

{% extends base.html %}

{% block title %} {{ data['name'] }} {% end %}

{% block body %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ data['name'] }}</h1>
                <p><span class="glyphicon glyphicon-time"></span> {{ data['created_date'] }}</p>
                <p>by <a href="">{{ data['author'] }}</a></p>
                <p>{{ data['body'] }}</p>
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
    </div>
</div>
{% end %}